<ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
            style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</ng-container>

<div class="modal-header">
    <div class="modal-title h4" [innerText]="(isEdit ? 'gateways.editGateway' : 'gateways.addGateway') | translate">
    </div>
</div>
<div class="modal-body">
    <form class="form form-label-right" [formGroup]="gatewayForm" novalidate>
        <div class="row" *ngIf="!isEdit">
            <div class="form-group col-md-6">
                <label class="form-label">{{'gateways.serialNo' | translate }}</label>
                <input type="text" class="form-control form-control-solid" name="serialNo" [placeholder]="'gateways.serialNo' | translate"
                    autocomplete="off" [class.is-invalid]="isControlInvalid('serialNo')"
                    [class.is-valid]="isControlValid('serialNo')" formControlName="serialNo" [disabled]="(gatewayService.isLoading$ | async)!" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label">{{'gateways.name' | translate }}</label>
                <input type="text" class="form-control form-control-solid" name="name" [placeholder]="'gateways.name' | translate"
                    autocomplete="off" [class.is-invalid]="isControlInvalid('name')"
                    [class.is-valid]="isControlValid('name')" formControlName="name" [disabled]="(gatewayService.isLoading$ | async)!" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label">{{'gateways.ipAddress' | translate }}</label>
                <input type="text" class="form-control form-control-solid" name="ipAddress" [placeholder]="'gateways.ipAddress' | translate"
                    autocomplete="off" [class.is-invalid]="isControlInvalid('ipAddress')"
                    [class.is-valid]="isControlValid('ipAddress')" formControlName="ipAddress" [disabled]="(gatewayService.isLoading$ | async)!" />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div>
        <ng-container *ngIf="isLoading"><span style="margin-right: 3rem !important;" class="spinner spinner-primary mr-5"></span></ng-container>
        <button type="button" class="btn btn-light btn-elevate mr-1" (click)="modal.dismiss()" [disabled]="(gatewayService.isLoading$ | async)!">
            {{'common.cancel' | translate }}
        </button>&nbsp;
        <button type="button" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="(gatewayService.isLoading$ | async)!"> 
            {{'common.save' | translate }}
        </button> 
    </div>
</div>